
# Reflex
.web/
.states/
*.py[cod]
assets/external/

# These are generated when you run reflex run
app/frontend/customer_app/.gitignore
app/frontend/customer_app/requirements.txt


# Python
.venv/


.env
.idea/
.pytest_cache/


.bash_history



# Byte-compiled / optimized / DLL files
__pycache__/
