reflex
fastapi
uvicorn
jinja2


asyncio>=3.4.3
aiohttp>=3.8.5

sqlalchemy>=1.4.46


# python package for odbc:
pyodbc>=5.1.0

# python package for data analysis:
pandas>=2.0.3

# python package for database interaction:
sqlmodel>=0.0.19


# python package for reading environment variables:
python-dotenv==1.0.0
# python package for gunicorn:
gunicorn>=20.1.0

# python package for asyncio:
uvloop>=0.15.2

# env settings
pydantic-settings


# python package for http tools:
httptools>=0.1.1
# python package for JWT:
python-jose>=3.3.0
# python package for password hashing:
passlib>=1.7.4
# python package for parsing multipart data:
python-multipart>=0.0.5

# python package for hashing:
bcrypt>=3.1.7
